body{
  margin: 0;
  padding: 0;
  background-image: url(/Photos/nubeson-fernandes--Xqckh_XVU4-unsplash.jpg);
  background-size: cover;


}
.navbar{
  height: 20vh;
  color:black;
  padding: 10px;
}
.navbar-brand{
  font-size: 18px;
  font-weight: 100;
}
.navbar-nav{
 padding: 40px;
}
.nav-item{
  padding: 30px;
  margin: 30px;
  font-style: oblique;
  font-size: medium;
  font-size: 15px;

}
.nav-item :hover{
  color: white;
}
.hero{
  background-image: url(/Photos/tareq-ajalyakin-hoWUJl-PSIs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
  width: 98.5vw;

}
.hero div h1{ 
  text-align: center;
  padding-top: 300px;
  color: white;
 font-size: 80px;
  
}
.hero div p{
  text-align: center;
color: white;
font-size: 40px;
 }

#main{
  background-color: rgb(68, 130, 130);
}


.home{
  height: 100vh;
  width: 1200px;
  background-size: cover;
  
}
h4{
  text-align: center;
}
.about-flex{
 display: flex;
 flex-direction: row;

 
}
.about-flex div{
background-color: rgb(235, 238, 240);
width: 450px;
border-radius:10px ;
margin: 10px;
height: 300px;
}
h5{
  text-align: center;
  font-weight: 100;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.project-flex{
  display: flex;
 flex-direction: row;
}
.project-flex div{
background-color: rgb(235, 238, 240);
width: 450px;
border-radius:10px ;
margin: 10px;
height: 400px;
}
