 
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

@layer base{
  body {
    @apply   font-[Raleway];
  }
  li{
    @apply px-4;
    @apply cursor-pointer
  }
}
.container-div{
  background-image: url(./assests/wave\ \(4\).svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(115, 173, 224, 0.8),
      hsla(180, 23%, 60%, 0.8)   
  )!important;
}